%h1 Strona internetowego radia
%p
  Możliwości
  %ul
    %li Lista przebojów
    %li Konta Administratorów, Prezenterów, Słuchaczy
    %li Ankiety
    %li Wyszukiwarka utworów
    %li Prezenter aktualizuje informacje o swjeje audycji (zapowiedzi, playlisty, ogólny opis audycji)
    %li Komentarze do audycji
    %li Artykuły, Newsy, Wywiady na stronie głównej
    %li ramówka
    %li player?
